<div class="systemsection">
    <h3>PhysMem: {{usageData.PhysMem}}</h3>
    <h3>Processes: {{usageData.Processes}}</h3>

</div>

<div class="metrics">


    <div class="cpu-doughnut-container">
        <h1>CPU usage</h1>
        <canvas id="cpuDoughnut">{{ cpuDoughnut }}</canvas>
        <!-- <canvas  id="cpuLineChart" >{{ cpuLineChart }}</canvas> -->
    </div>
    <div class="cpu-controls">
        <h2>CPU controls</h2>
        <div class="cpu-control-policy">
            <h3>Activate Policy</h3>
            <mat-slide-toggle [(ngModel)]="cpu_policy_active" color="primary" (change)="toggleCpuPolicy($event)"></mat-slide-toggle>
            <br><br>

            <h3>Total Usage Limit</h3>
            <div class="cpu-slider-label">
                <label id="cpu-name-label" class="cpu-name-label">Value</label>
                <label class="cpu-value-label">{{cpu_percent_value}}</label>
            </div>
            <mat-slider class="cpu-slider" [disabled]="cpu_slider_disabled" [max]="cpu_max" [min]="cpu_min"
                [step]="cpu_step" [discrete]="cpu_thumbLabel" [showTickMarks]="cpu_showTicks">
                <input matSliderThumb [(ngModel)]="cpu_percent_value">
            </mat-slider>
            <br><br>

            <h3> Snapshots to monitor</h3>
            <mat-radio-group aria-labelledby="cpu-radio-group-label" class="cpu-radio-group"
                [(ngModel)]="cpu_selected_snapshot" [disabled]="cpuradiogroupdisabled">
                <mat-radio-button class="cpu-radio-button" *ngFor="let cpu_snapshot of cpu_snapshots" [value]="cpu_snapshot">
                    {{cpu_snapshot}}
                </mat-radio-button>
            </mat-radio-group>
            

            <h3> Snapshot violation percentage </h3>
            <mat-radio-group aria-labelledby="cpu-violation-radio-group-label" class="cpu-violation-radio-group"
                [(ngModel)]="cpu_selected_violation_percent" [disabled]="cpuviolationdisabled">
                <mat-radio-button class="cpu-violation-radio-button" *ngFor="let cpu_violation_percent of cpu_violation_percents" [value]="cpu_violation_percent">
                    {{cpu_violation_percent}}
                </mat-radio-button>
            </mat-radio-group>
            
            <h3>Auto Termination</h3>
            <mat-slide-toggle [(ngModel)]="cpu_auto_terminate" [disabled]="cpuautoterminatedisabled" color="warn"></mat-slide-toggle>
            <br><br>
        </div>
    </div>
    
    <div class="cpu-info-panel">
        <div class="cpu-exceptions">
            <h4>Power Guzzlers</h4>
            <section class="guzzlers-container mat-elevation-z8" tabindex="0">
                <table mat-table #guzzlerstable [dataSource]="guzzlersDS">
              
                  <!-- Position Column -->
                  <ng-container matColumnDef="Command">
                    <th mat-header-cell *matHeaderCellDef> Command </th>
                    <td mat-cell *matCellDef="let element"> {{element.command}} </td>
                  </ng-container>
              
                  <!-- Name Column -->
                  <ng-container matColumnDef="User">
                    <th mat-header-cell *matHeaderCellDef> User </th>
                    <td mat-cell *matCellDef="let element"> {{element.user}} </td>
                  </ng-container>
              
                  <!-- Weight Column -->
                  <ng-container matColumnDef="PID">
                    <th mat-header-cell *matHeaderCellDef> PID </th>
                    <td mat-cell *matCellDef="let element"> {{element.pid}} </td>
                  </ng-container>
                  
                  <ng-container matColumnDef="Action">
                    <th mat-header-cell *matHeaderCellDef>Actions</th>
                    <td mat-cell *matCellDef="let element">
                      <button mat-button color="warn" (click)="terminateProcess(element)">Terminate</button>
                    </td>
                  </ng-container>
              
              
                  <tr mat-header-row *matHeaderRowDef="guzzlersDisplayedColumns; sticky: true"></tr>
                  <tr mat-row *matRowDef="let row; columns: guzzlersDisplayedColumns;"></tr>
                </table>
              </section>
        </div>

        <br><br>
        <div class="cpu-logs">
            <h4>Axed Power Drainers</h4>
            <section class="axed-drainers-container mat-elevation-z8" tabindex="0">
                <table mat-table #drainerstable [dataSource]="drainersDS">
              
                  <!-- Position Column -->
                  <ng-container matColumnDef="Command">
                    <th mat-header-cell *matHeaderCellDef> Command </th>
                    <td mat-cell *matCellDef="let element"> {{element.command}} </td>
                  </ng-container>
              
                  <!-- Name Column -->
                  <ng-container matColumnDef="User">
                    <th mat-header-cell *matHeaderCellDef> User </th>
                    <td mat-cell *matCellDef="let element"> {{element.user}} </td>
                  </ng-container>
              
                  <!-- Weight Column -->
                  <ng-container matColumnDef="PID">
                    <th mat-header-cell *matHeaderCellDef> PID </th>
                    <td mat-cell *matCellDef="let element"> {{element.pid}} </td>
                  </ng-container>
              
                  <tr mat-header-row *matHeaderRowDef="drainersDisplayedColumns; sticky: true"></tr>
                  <tr mat-row *matRowDef="let row; columns: drainersDisplayedColumns;"></tr>
                </table>
              </section>
        </div>

    </div>



</div>